<header>
    <h1>Administración de clientes</h1>
    <img src="https://static.wixstatic.com/media/632b1b_7a7cfc03c37641d08c03c1e93378328d~mv2.png/v1/fill/w_900,h_589,al_c/632b1b_7a7cfc03c37641d08c03c1e93378328d~mv2.png"
        alt="">
</header>

<section *ngIf="showConfirmation" id="contPrincipalConf">
    <div id="containerConfirmation">
        <p>¿Desea eliminar al cliente "{{userUpdate}}"?</p>
        <div id="containerBtn">
            <button id="btnConfirm" (click)="cancelarConfirmar()">Cancelar</button>
            <button id="btnCancel" (click)="deleteData()">Confirmar</button>
        </div>
    </div>
</section>

<section id="containerPrincipal">

    <div [id]="showWindow ? 'windowShow' : 'windowHide'">
        <p>{{newText}}</p>
        <p>{{newIcon}}</p>
    </div>

    <div id="listClients">

        <section id="tarjetaDefault">
            <p id="textDefault">Servicio</p>
            <p id="textDefault">Identificación</p>
            <p id="textDefault">Nombre</p>
            <p id="textDefault">Télefono</p>
        </section>

        <div *ngIf="data; else dataExists">
            <h1>No hay clientes para mostrar</h1>
        </div>

        <!-- Leer -->
        <ng-template #dataExists>
            <div *ngFor="let detalles of listPeople,let i = index" class="tarjeta">

                <button (click)="updateInputs(i)">
                    <p title={{detalles[0]}}>{{detalles[0]}}</p>
                    <p title={{detalles[1]}}>{{detalles[1]}}</p>
                    <p title={{detalles[2]}}>{{detalles[2]}}</p>
                    <p title={{detalles[3]}}>{{detalles[3]}}</p>
                </button>

            </div>
        </ng-template>
    </div>

    <div id="clientSelected">

        <section id="contInfo">

            <!-- Agregar -->
            <section id="AddClient">
                <h3>Crear cliente</h3>
                <input [(ngModel)]="inputCreate1" placeholder="Servicio"/>
                <input [(ngModel)]="inputCreate2" placeholder="Identificación"/>
                <input type="text" [(ngModel)]="inputCreate3" placeholder="Nombre"/>
                <input [(ngModel)]="inputCreate4" placeholder="Télefono"  />
                <button (click)="createData()">Guardar</button>
            </section>

            <!-- Actualizar y Eliminar-->
            <section id="UpdateClient">
                <h3>Selecciona un cliente para gestionar</h3>
                <input [(ngModel)]="manageInput1" placeholder="Servicio"  />
                <input [(ngModel)]="manageInput2" placeholder="Identificación"  />
                <input type="text" [(ngModel)]="manageInput3" placeholder="Nombre"/>
                <input [(ngModel)]="manageInput4" placeholder="Télefono"  />
                <button (click)="updateData()">Actualizar</button>
                <button (click)="confirmar()">Eliminar</button>
            </section>

        </section>

    </div>
</section>