<header>
    <h1>Administración de clientes</h1>
    <img src="https://res.cloudinary.com/dasuy0gun/image/upload/v1697513804/bitwan/logo-bitwan.png" alt="">
</header>

<section *ngIf="showConfirmation" id="contPrincipalConf">
    <div id="containerConfirmation">
        <p>¿Desea eliminar al cliente "{{userUpdate}}"?</p>
        <div id="containerBtn">
            <button id="btnConfirm" (click)="cancelarConfirmar()">Cancelar</button>
            <button id="btnCancel" (click)="deleteData()">Confirmar</button>
        </div>
    </div>
</section>

<section id="containerPrincipal">

    <div [id]="showWindow ? 'windowShow' : 'windowHide'">
        <p>{{newText}}</p>
        <p>{{newIcon}}</p>
    </div>

    <div id="listClients">

        <section id="filterPrincipal">
            <input type="text" placeholder="Buscar cliente" [(ngModel)]="inputBusqueda"
                (input)="filtrarBusqueda($event)" />
            <button (click)="vaciarBusqueda()" id="iconSearch" *ngIf="data != ''; else empty">
                <div id="equis">
                    <ng-container *ngIf="inputBusqueda === ''; else clean">
                    </ng-container>
                    <ng-template #clean>
                        <img src="https://cdn-icons-png.flaticon.com/512/75/75519.png" alt="">
                    </ng-template>
                </div>
            </button>

            <ng-template #empty></ng-template>

        </section>

        <div *ngIf="data === undefined || data === 'empty' ;else templateDefault">
        </div>

        <ng-template #templateDefault>
            <section id="tarjetaDefault">
                <p id="textDefault">Servicio</p>
                <p id="textDefault">Identificación</p>
                <p id="textDefault">Nombre</p>
                <p id="textDefault">Télefono</p>
            </section>
        </ng-template>

        <div [ngSwitch]="data" id="dataContainer">

            <div id="container1" *ngSwitchCase="undefined">
                <div class="containerBalls">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
            </div>

            <div id="containerChild" *ngSwitchCase="true">
                <h1>No hay clientes para mostrar</h1>
            </div>

            <!-- Leer -->
            <!-- Leer -->
            <div id="container1" *ngSwitchCase="false">
                <div *ngFor="let detalles of listPeople,let i = index" class="tarjeta">
                    <button (click)="updateInputs(i)">
                        <p title={{detalles[0]}}>{{detalles[0]}}</p>
                        <p title={{detalles[1]}}>{{detalles[1]}}</p>
                        <p title={{detalles[2]}}>{{detalles[2]}}</p>
                        <p title={{detalles[3]}}>{{detalles[3]}}</p>
                    </button>
                </div>
            </div>

            <div id="container1" *ngSwitchCase=" 'text' ">
                <div *ngFor="let detalles of listFilter,let i = index" class="tarjeta">
                    <button (click)="updateInputsFilter(detalles[1])">
                        <p title={{detalles[0]}}>{{detalles[0]}}</p>
                        <p title={{detalles[1]}}>{{detalles[1]}}</p>
                        <p title={{detalles[2]}}>{{detalles[2]}}</p>
                        <p title={{detalles[3]}}>{{detalles[3]}}</p>
                    </button>
                </div>
            </div>

            <div id="container1" *ngSwitchCase=" 'empty' ">
                <p>No se encontraron resultados</p>
            </div>

        </div>

    </div>

    <div id="clientSelected">

        <section id="contInfo">

            <!-- Agregar -->
            <section id="AddClient">
                <h3>Crear cliente</h3>
                <input [(ngModel)]="inputCreate1" placeholder="Servicio" />
                <input [(ngModel)]="inputCreate2" placeholder="Identificación" />
                <input type="text" [(ngModel)]="inputCreate3" placeholder="Nombre" />
                <input [(ngModel)]="inputCreate4" placeholder="Télefono" />
                <button (click)="createData()">Guardar</button>
            </section>

            <!-- Actualizar y Eliminar-->
            <section id="UpdateClient">
                <h3>Selecciona un cliente para gestionar</h3>
                <input [(ngModel)]="manageInput1" placeholder="Servicio" />
                <input [(ngModel)]="manageInput2" placeholder="Identificación" />
                <input type="text" [(ngModel)]="manageInput3" placeholder="Nombre" />
                <input [(ngModel)]="manageInput4" placeholder="Télefono" />
                <button (click)="updateData()">Actualizar</button>
                <button (click)="confirmar()">Eliminar</button>
            </section>

        </section>

    </div>

</section>